.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.6rem;
  padding: 120px 85px;
}
.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
  text-align: center;
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  width: 320px;
  /* left: 0; */

  /* z-index: -1; */
}
