.header {
  background-color: #1c2b35;
  color: #fff;
  height: 90px;
  position: sticky;
  top: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav {
  display: flex;
  gap: 1.5rem;
}
.header nav a {
  color: #fff;
  font-size: 24px;
}
.header nav a:hover {
  color: #ff9900;
}
